*
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*css home page*/
.homeContent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    min-width: 1000px;
    min-height: 800px;
    padding:15px;
    text-shadow: 0.5px 0.5px black;
}
.homeFeatured,.contactBody
{
    background-color: rgb(230, 230, 230);
    padding: 10px;
    margin:0 50px;
    box-shadow: 2px 2px 5px 2px #888888;
}
.homeTitleDescription
{
    width: 50%;
}
.title
{
    font-size: 50px;
}
.description
{
    font-size: 20px;

}
.games
{
    display:flex;
}
.gameImg
{
    filter: grayscale(100%);
    flex:1 1;
    margin:25px;
    text-align: center;
}
.gameImg:hover
{
    filter: grayscale(0);
}
.img:hover
{
    box-shadow: 2px 2px 5px 2px #888888;
}
/* css contact page */
.formBody
{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
label,input,textarea
{
    margin:2px 0
}
input,textarea
{
    padding:3px;
}
textarea
{
    resize:vertical;
}